/* Apply a background color to the body */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the sidebar (navigation) */
#sidebar {
  background-color: #333;
  color: #fff;
  width: 250px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
}

/* Style the sidebar headings and links */
#sidebar h2 {
  font-size: 24px;
}

#sidebar .nav-item {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 10px 0;
}

#sidebar .nav-item:hover {
  background-color: #555;
}

/* Style the main content area */
#documentation {
  margin-left: 280px;
  padding: 20px;
}

/* Style headings in main content */
#documentation h2 {
  font-size: 30px;
  color: #333;
}

/* Style subheadings in main content */
#documentation h3 {
  font-size: 20px;
  color: #444;
}

/* Style paragraphs in main content */
#documentation p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/* Add some padding to articles for readability */
article {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Style unordered lists in articles */
article ul {
  list-style: disc inside;
}

/* Style list items in articles */
article li {
  margin: 5px 0;
}

/* Add a subtle box-shadow to articles */
article {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#footer {
  text-align: right;
  padding: 10px;
  background-color: #f0f0f0; /* Background color for the footer */
}

#footer p {
  margin: 0; /* Remove any default margin on the paragraph */
}

#GCPAI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#AmazonAI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#AzureMachineLearning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

